openapi: 3.1.0
info:
  title: St. Expedite Press Communications API
  version: 1.3.0
  description: |
    Cloudflare Worker API for contact, submission, and updates signup flows.
    Source implementation: workers/communications/src/index.ts
  license:
    name: Proprietary
    identifier: LicenseRef-Proprietary
  contact:
    name: St. Expedite Press
    email: editor@stexpedite.press
    url: https://stexpedite.press
security: []
servers:
  - url: https://stexpedite.press
    description: Production
  - url: https://stexpedite-communications.stexpedite-communications.workers.dev
    description: Worker direct endpoint (testing)
paths:
  /api/health:
    get:
      tags: [health]
      summary: Worker runtime health probe
      operationId: getHealth
      responses:
        "200":
          description: Worker is running and returns runtime dependency flags
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthSuccess"
  /api/storefront:
    get:
      tags: [storefront]
      summary: Read public Fourthwall storefront catalog snapshot
      operationId: getStorefront
      parameters:
        - in: query
          name: collection
          required: false
          schema:
            type: string
          description: Collection slug (defaults to `all` or first available collection)
      responses:
        "200":
          description: Storefront catalog snapshot
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StorefrontSuccess"
        "500":
          description: Storefront token is not configured in Worker environment
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "502":
          description: Upstream Fourthwall API request failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/contact:
    post:
      tags: [contact]
      summary: Submit contact form
      operationId: submitContact
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ContactRequest"
      responses:
        "200":
          description: Submission accepted and emails sent
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContactSuccess"
        "400":
          description: Invalid JSON or missing fields
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Turnstile verification failed (only when configured)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RateLimitErrorResponse"
        "500":
          description: Worker not configured, or unexpected runtime failure
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/submit:
    post:
      tags: [submit]
      summary: Submit inquiry form
      operationId: submitInquiry
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SubmitRequest"
      responses:
        "200":
          description: Inquiry accepted and emails sent
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SubmitSuccess"
        "400":
          description: Invalid JSON or missing fields
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Turnstile verification failed (only when configured)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RateLimitErrorResponse"
        "500":
          description: Worker not configured, or unexpected runtime failure
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/updates:
    post:
      tags: [updates]
      summary: Capture updates signup email
      operationId: captureUpdatesSignup
      description: |
        Writes to D1 (`updates_signups`) when DB binding is configured.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdatesRequest"
      responses:
        "200":
          description: Signup recorded or refreshed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdatesSuccess"
        "400":
          description: Invalid JSON or missing fields
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Turnstile verification failed (only when configured)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RateLimitErrorResponse"
        "500":
          description: DB binding not configured, or unexpected runtime failure
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
components:
  schemas:
    ContactRequest:
      type: object
      required: [email, message]
      properties:
        reason:
          type: string
          maxLength: 120
          example: General
        email:
          type: string
          format: email
          maxLength: 320
          example: person@example.com
        message:
          type: string
          maxLength: 6000
          example: Hello from the contact form.
        website:
          type: string
          description: Honeypot field (leave empty)
        company:
          type: string
          description: Honeypot field (leave empty)
        hp:
          type: string
          description: Honeypot field (leave empty)
        turnstileToken:
          type: string
          description: Optional Turnstile token (`cf-turnstile-response` equivalent)
    SubmitRequest:
      type: object
      required: [email]
      properties:
        email:
          type: string
          format: email
          maxLength: 320
          example: person@example.com
        note:
          type: string
          maxLength: 6000
          example: Submission inquiry details.
        website:
          type: string
          description: Honeypot field (leave empty)
        company:
          type: string
          description: Honeypot field (leave empty)
        hp:
          type: string
          description: Honeypot field (leave empty)
        turnstileToken:
          type: string
          description: Optional Turnstile token (`cf-turnstile-response` equivalent)
    UpdatesRequest:
      type: object
      required: [email]
      properties:
        email:
          type: string
          format: email
          maxLength: 320
          example: subscriber@example.com
        source:
          type: string
          maxLength: 80
          example: index
        website:
          type: string
          description: Honeypot field (leave empty)
        company:
          type: string
          description: Honeypot field (leave empty)
        hp:
          type: string
          description: Honeypot field (leave empty)
        turnstileToken:
          type: string
          description: Optional Turnstile token (`cf-turnstile-response` equivalent)
    ContactSuccess:
      type: object
      additionalProperties: false
      required: [ok, id]
      properties:
        ok:
          type: boolean
          const: true
        id:
          type: string
          pattern: "^CONTACT-"
          example: CONTACT-MTBYS6-YQWCQP6X9Q
    SubmitSuccess:
      type: object
      additionalProperties: false
      required: [ok, id]
      properties:
        ok:
          type: boolean
          const: true
        id:
          type: string
          pattern: "^SUBMIT-"
          example: SUBMIT-MTBYTJ-3QWP1SK8FN
    UpdatesSuccess:
      type: object
      additionalProperties: false
      required: [ok, alreadySignedUp]
      properties:
        ok:
          type: boolean
          const: true
        alreadySignedUp:
          type: boolean
          description: True when the email was already present before this request.
    ErrorResponse:
      type: object
      additionalProperties: false
      required: [ok, error]
      properties:
        ok:
          type: boolean
          const: false
        error:
          type: string
          examples:
            - Invalid JSON
            - Missing fields
            - Server not configured
            - Updates list not configured
            - Turnstile verification failed
            - Internal server error
    RateLimitErrorResponse:
      type: object
      additionalProperties: false
      required: [ok, error, retryAfter]
      properties:
        ok:
          type: boolean
          const: false
        error:
          type: string
          const: Too many requests
        retryAfter:
          type: integer
          minimum: 1
    HealthSuccess:
      type: object
      additionalProperties: false
      required: [ok, service, dbConfigured, now]
      properties:
        ok:
          type: boolean
          const: true
        service:
          type: string
          const: communications-worker
        dbConfigured:
          type: boolean
        now:
          type: string
          format: date-time
    StorefrontCollection:
      type: object
      additionalProperties: false
      required: [name, slug]
      properties:
        name:
          type: string
        slug:
          type: string
    StorefrontProduct:
      type: object
      additionalProperties: false
      required: [id, name, slug, description, image, priceValue, priceCurrency]
      properties:
        id:
          type: string
        name:
          type: string
        slug:
          type: string
        description:
          type: string
        image:
          type: string
        priceValue:
          type: string
        priceCurrency:
          type: string
    StorefrontSuccess:
      type: object
      additionalProperties: false
      required: [ok, shop, collection, collections, products]
      properties:
        ok:
          type: boolean
          const: true
        shop:
          type: object
          additionalProperties: false
          required: [id, name, domain, url]
          properties:
            id:
              type: string
            name:
              type: string
            domain:
              type: string
            url:
              type: string
        collection:
          type: string
        collections:
          type: array
          items:
            $ref: "#/components/schemas/StorefrontCollection"
        products:
          type: array
          items:
            $ref: "#/components/schemas/StorefrontProduct"
tags:
  - name: health
    description: Runtime probe operations
  - name: storefront
    description: Fourthwall storefront catalog operations
  - name: contact
    description: Contact form operations
  - name: submit
    description: Submission inquiry operations
  - name: updates
    description: Updates signup capture operations
