openapi: 3.1.0
info:
  title: St. Expedite Press Communications API
  version: 1.5.0
  description: |
    Cloudflare Worker API for contact, submission, and updates signup flows.
    Source implementation: workers/communications/src/index.ts
  license:
    name: Proprietary
    identifier: LicenseRef-Proprietary
  contact:
    name: St. Expedite Press
    email: editor@stexpedite.press
    url: https://stexpedite.press
security: []
servers:
  - url: https://stexpedite.press
    description: Production
  - url: https://stexpedite-communications.stexpedite-communications.workers.dev
    description: Worker direct endpoint (testing)
paths:
  /api/health:
    get:
      tags: [health]
      summary: Worker runtime health probe
      operationId: getHealth
      responses:
        "200":
          description: Worker is running and returns runtime dependency flags
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthSuccess"
  /api/storefront:
    get:
      tags: [storefront]
      summary: Read public Fourthwall storefront catalog snapshot
      operationId: getStorefront
      parameters:
        - in: query
          name: collection
          required: false
          schema:
            type: string
          description: Collection slug (defaults to `all` or first available collection)
      responses:
        "200":
          description: Storefront catalog snapshot
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StorefrontSuccess"
        "500":
          description: Storefront token is not configured in Worker environment
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "502":
          description: Upstream Fourthwall API request failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/projects:
    get:
      tags: [projects]
      summary: Read the canonical projects program list
      operationId: getProjects
      responses:
        "200":
          description: Program and project list from D1
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectsSuccess"
        "500":
          description: DB binding missing or projects table unavailable
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/contact:
    post:
      tags: [contact]
      summary: Submit contact form
      operationId: submitContact
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ContactRequest"
      responses:
        "200":
          description: Submission accepted and emails sent
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContactSuccess"
        "400":
          description: Invalid JSON or missing fields
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Turnstile verification failed (only when configured)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RateLimitErrorResponse"
        "500":
          description: Worker not configured, or unexpected runtime failure
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/submit:
    post:
      tags: [submit]
      summary: Submit inquiry form
      operationId: submitInquiry
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SubmitRequest"
      responses:
        "200":
          description: Inquiry accepted and emails sent
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SubmitSuccess"
        "400":
          description: Invalid JSON or missing fields
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Turnstile verification failed (only when configured)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RateLimitErrorResponse"
        "500":
          description: Worker not configured, or unexpected runtime failure
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/updates:
    post:
      tags: [updates]
      summary: Capture updates signup email
      operationId: captureUpdatesSignup
      description: |
        Writes to D1 (`updates_signups`) when DB binding is configured.
        Supports base signup capture (`email`, `source`) and optional Substack-style
        subscriber analytics/profile fields using either snake_case or camelCase keys.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdatesRequest"
      responses:
        "200":
          description: Signup recorded or refreshed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdatesSuccess"
        "400":
          description: Invalid JSON or missing fields
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Turnstile verification failed (only when configured)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RateLimitErrorResponse"
        "500":
          description: DB binding not configured, or unexpected runtime failure
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
components:
  schemas:
    ContactRequest:
      type: object
      required: [email, message]
      properties:
        reason:
          type: string
          maxLength: 120
          example: General
        email:
          type: string
          format: email
          maxLength: 320
          example: person@example.com
        message:
          type: string
          maxLength: 6000
          example: Hello from the contact form.
        website:
          type: string
          description: Honeypot field (leave empty)
        company:
          type: string
          description: Honeypot field (leave empty)
        hp:
          type: string
          description: Honeypot field (leave empty)
        turnstileToken:
          type: string
          description: Optional Turnstile token (`cf-turnstile-response` equivalent)
    SubmitRequest:
      type: object
      required: [email]
      properties:
        email:
          type: string
          format: email
          maxLength: 320
          example: person@example.com
        note:
          type: string
          maxLength: 6000
          example: Submission inquiry details.
        website:
          type: string
          description: Honeypot field (leave empty)
        company:
          type: string
          description: Honeypot field (leave empty)
        hp:
          type: string
          description: Honeypot field (leave empty)
        turnstileToken:
          type: string
          description: Optional Turnstile token (`cf-turnstile-response` equivalent)
    UpdatesRequest:
      type: object
      required: [email]
      properties:
        email:
          type: string
          format: email
          maxLength: 320
          example: subscriber@example.com
        source:
          type: string
          maxLength: 80
          example: index
        name:
          type: string
          maxLength: 200
        stripe_plan:
          type: string
          maxLength: 120
        cancel_date:
          type: string
        start_date:
          type: string
        paid_upgrade_date:
          type: string
        bestseller:
          type: integer
        emails_received_6mo:
          type: integer
        emails_dropped_6mo:
          type: integer
        num_emails_opened:
          type: integer
        emails_opened_6mo:
          type: integer
        emails_opened_7d:
          type: integer
        emails_opened_30d:
          type: integer
        last_email_open:
          type: string
        links_clicked:
          type: integer
        last_clicked_at:
          type: string
        unique_emails_seen_6mo:
          type: integer
        unique_emails_seen_7d:
          type: integer
        unique_emails_seen_30d:
          type: integer
        post_views:
          type: integer
        post_views_7d:
          type: integer
        post_views_30d:
          type: integer
        unique_posts_seen:
          type: integer
        unique_posts_seen_7d:
          type: integer
        unique_posts_seen_30d:
          type: integer
        comments:
          type: integer
        comments_7d:
          type: integer
        comments_30d:
          type: integer
        shares:
          type: integer
        shares_7d:
          type: integer
        shares_30d:
          type: integer
        subscriptions_gifted:
          type: integer
        first_paid_date:
          type: string
        revenue:
          type: string
        subscription_source_free:
          type: string
          maxLength: 120
        subscription_source_paid:
          type: string
          maxLength: 120
        days_active_30d:
          type: integer
        activity:
          type: integer
        country:
          type: string
          maxLength: 12
        state_province:
          type: string
          maxLength: 80
        expiration_date:
          type: string
        type:
          type: string
          maxLength: 80
        sections:
          type: string
          maxLength: 400
        website:
          type: string
          description: Honeypot field (leave empty)
        company:
          type: string
          description: Honeypot field (leave empty)
        hp:
          type: string
          description: Honeypot field (leave empty)
        turnstileToken:
          type: string
          description: Optional Turnstile token (`cf-turnstile-response` equivalent)
    ContactSuccess:
      type: object
      additionalProperties: false
      required: [ok, id]
      properties:
        ok:
          type: boolean
          const: true
        id:
          type: string
          pattern: "^CONTACT-"
          example: CONTACT-MTBYS6-YQWCQP6X9Q
    SubmitSuccess:
      type: object
      additionalProperties: false
      required: [ok, id]
      properties:
        ok:
          type: boolean
          const: true
        id:
          type: string
          pattern: "^SUBMIT-"
          example: SUBMIT-MTBYTJ-3QWP1SK8FN
    UpdatesSuccess:
      type: object
      additionalProperties: false
      required: [ok, alreadySignedUp]
      properties:
        ok:
          type: boolean
          const: true
        alreadySignedUp:
          type: boolean
          description: True when the email was already present before this request.
    ErrorResponse:
      type: object
      additionalProperties: false
      required: [ok, error]
      properties:
        ok:
          type: boolean
          const: false
        error:
          type: string
          examples:
            - Invalid JSON
            - Missing fields
            - Server not configured
            - Updates list not configured
            - Turnstile verification failed
            - Internal server error
    RateLimitErrorResponse:
      type: object
      additionalProperties: false
      required: [ok, error, retryAfter]
      properties:
        ok:
          type: boolean
          const: false
        error:
          type: string
          const: Too many requests
        retryAfter:
          type: integer
          minimum: 1
    HealthSuccess:
      type: object
      additionalProperties: false
      required: [ok, service, dbConfigured, now]
      properties:
        ok:
          type: boolean
          const: true
        service:
          type: string
          const: communications-worker
        dbConfigured:
          type: boolean
        now:
          type: string
          format: date-time
    ProjectEntry:
      type: object
      additionalProperties: false
      required:
        - project_slug
        - program_key
        - series_key
        - series_title
        - author
        - title
        - status
        - sort_order
      properties:
        project_slug:
          type: string
        program_key:
          type: string
        series_key:
          type: string
        series_title:
          type: string
        cluster_key:
          type: string
          nullable: true
        cluster_title:
          type: string
          nullable: true
        author:
          type: string
        title:
          type: string
        subtitle:
          type: string
          nullable: true
        publication_year:
          type: integer
          nullable: true
        status:
          type: string
          enum: [planned, in_progress, published]
        sort_order:
          type: integer
        notes:
          type: string
          nullable: true
        cover_image:
          type: string
          nullable: true
        popup_description:
          type: string
          nullable: true
    ProjectsSuccess:
      type: object
      additionalProperties: false
      required: [ok, program, totals, series, projects]
      properties:
        ok:
          type: boolean
          const: true
        program:
          type: object
          additionalProperties: false
          required: [key, title]
          properties:
            key:
              type: string
            title:
              type: string
        totals:
          type: object
          additionalProperties: false
          required: [volumes, series]
          properties:
            volumes:
              type: integer
            series:
              type: integer
        series:
          type: array
          items:
            type: object
            additionalProperties: false
            required: [key, title, count]
            properties:
              key:
                type: string
              title:
                type: string
              count:
                type: integer
        projects:
          type: array
          items:
            $ref: "#/components/schemas/ProjectEntry"
    StorefrontCollection:
      type: object
      additionalProperties: false
      required: [name, slug]
      properties:
        name:
          type: string
        slug:
          type: string
    StorefrontProduct:
      type: object
      additionalProperties: false
      required: [id, name, slug, description, image, priceValue, priceCurrency]
      properties:
        id:
          type: string
        name:
          type: string
        slug:
          type: string
        description:
          type: string
        image:
          type: string
        priceValue:
          type: string
        priceCurrency:
          type: string
    StorefrontSuccess:
      type: object
      additionalProperties: false
      required: [ok, shop, collection, collections, products]
      properties:
        ok:
          type: boolean
          const: true
        shop:
          type: object
          additionalProperties: false
          required: [id, name, domain, url]
          properties:
            id:
              type: string
            name:
              type: string
            domain:
              type: string
            url:
              type: string
        collection:
          type: string
        collections:
          type: array
          items:
            $ref: "#/components/schemas/StorefrontCollection"
        products:
          type: array
          items:
            $ref: "#/components/schemas/StorefrontProduct"
tags:
  - name: health
    description: Runtime probe operations
  - name: storefront
    description: Fourthwall storefront catalog operations
  - name: projects
    description: Canonical projects program operations
  - name: contact
    description: Contact form operations
  - name: submit
    description: Submission inquiry operations
  - name: updates
    description: Updates signup capture operations
